3-12-4 mqtt_ServoMotor/mqtt_ServoMotor/3-12-4 node-red소스코드.txt
[{"id":"cd240b83.241e28","type":"mqtt out","z":"f985cad4.0e2b88","name":"","topic":"/kdi/outTopic","qos":"","retain":"","broker":"89f47c17.f570b","x":457.07655334472656,"y":178.4305944442749,"wires":[]},{"id":"cca368a7.fcfe08","type":"ui_slider","z":"f985cad4.0e2b88","name":"","label":"slider","group":"34ff2d.027f80d4","order":0,"width":"5","height":"1","passthru":true,"topic":"","min":0,"max":"180","step":1,"x":168.0833282470703,"y":178.37848663330078,"wires":[["4a961d3.7619ee4","4ba54df5.e0be64"]]},{"id":"4a961d3.7619ee4","type":"function","z":"f985cad4.0e2b88","name":"","func":"msg.payload=\"{\\\"pos\\\":\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":293.0694770812988,"y":178.50349807739258,"wires":[["cabf5775.24bb58","cd240b83.241e28"]]},{"id":"cabf5775.24bb58","type":"debug","z":"f985cad4.0e2b88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":464.0764846801758,"y":240.94100379943848,"wires":[]},{"id":"d954119d.8644e","type":"comment","z":"f985cad4.0e2b88","name":"{\"pos\":45} 형식으로 작성","info":"","x":217.07640075683594,"y":107.25000762939453,"wires":[]},{"id":"4ba54df5.e0be64","type":"ui_text","z":"f985cad4.0e2b88","group":"34ff2d.027f80d4","order":0,"width":"1","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":282.07640075683594,"y":252.05902862548828,"wires":[]},{"id":"89f47c17.f570b","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfge","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":""},{"id":"34ff2d.027f80d4","type":"ui_group","z":"","name":"Group 1","tab":"ea751395.d3b13","order":1,"disp":true,"width":"6","collapse":false},{"id":"ea751395.d3b13","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]