3-22-1 PMS5003 Dust Sensor Air Qualit/3-22-1 node-red.txt
[{"id":"519c5a09.70cf14","type":"mqtt in","z":"87500eec.4c079","name":"","topic":"/kdi/outTopic","qos":"2","datatype":"auto","broker":"cfa1e65c.5d8b38","x":148.01730346679688,"y":68.00000286102295,"wires":[["549186ac.8e69b8"]]},{"id":"5f3eee3b.7f1d3","type":"debug","z":"87500eec.4c079","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":506.01727294921875,"y":86.0000171661377,"wires":[]},{"id":"e1ad58ec.b66a98","type":"ui_gauge","z":"87500eec.4c079","name":"","group":"b7dbad8b.7f8cf","order":11,"width":0,"height":0,"gtype":"gage","title":"먼지센서 (Dust Sensor)","label":"units","format":"{{msg.payload.dust}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":549.0764045715332,"y":132.4097499847412,"wires":[]},{"id":"549186ac.8e69b8","type":"json","z":"87500eec.4c079","name":"","property":"payload","action":"","pretty":false,"x":325.0832862854004,"y":81.68750858306885,"wires":[["5f3eee3b.7f1d3","e1ad58ec.b66a98"]]},{"id":"cfa1e65c.5d8b38","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfasfsafasfsffdsd","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7dbad8b.7f8cf","type":"ui_group","name":"Group 1","tab":"d88d9142.173f7","order":1,"disp":true,"width":6},{"id":"d88d9142.173f7","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]