3-17-3 NEO-6M GPS NodeRED WorldMap/node-red.txt
[{"id":"e588e3b7.ea2aa","type":"mqtt in","z":"e0754609.580a28","name":"","topic":"/kdi/inTopic","qos":"2","broker":"87c43b9f.084818","x":123.08334541320801,"y":188.83334732055664,"wires":[["ec9d6ec7.b5a5f"]]},{"id":"13031a1d.85de16","type":"debug","z":"e0754609.580a28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":623.0832977294922,"y":126.56603336334229,"wires":[]},{"id":"88539f7d.6d47b","type":"worldmap","z":"e0754609.580a28","name":"","lat":"37.82","lon":"126.8","zoom":"","layer":"","cluster":"","maxage":"","usermenu":"show","layers":"show","panit":"false","panlock":"false","zoomlock":"false","hiderightclick":"false","path":"/worldmap","x":582.0764541625977,"y":186.95497131347656,"wires":[]},{"id":"ec9d6ec7.b5a5f","type":"json","z":"e0754609.580a28","name":"","property":"payload","action":"","pretty":false,"x":266.0764331817627,"y":189.53127527236938,"wires":[["be367180.4db64","13031a1d.85de16"]]},{"id":"be367180.4db64","type":"function","z":"e0754609.580a28","name":"set location","func":"msg.payload =  {\n    name:\"김동일연구실\",\n    lat:msg.payload.lat,\n    lon:msg.payload.lon,\n    icon:\"power-off\",\n    iconColor:\"red\"\n};\nreturn msg;","outputs":1,"noerr":0,"x":415.0174102783203,"y":186.01041650772095,"wires":[["88539f7d.6d47b"]]},{"id":"87c43b9f.084818","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"adasdfsssrr","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]