3-21 MeteringPumpDc/3-21 node-red program.txt
[{"id":"582f2e2f.37d99","type":"function","z":"d8e5c172.e25d6","name":"encorder","func":"var value_pump=global.get(\"value_pump\");\nvar out_pump=msg.payload*value_pump;\nvar num=parseInt(out_pump,10);\n//msg.payload=num;\nmsg.payload=\"{rot:'\"+num+\"'}\";\nreturn msg;","outputs":1,"noerr":0,"x":347.03688049316406,"y":180.01432037353516,"wires":[["8dd14d56.e7cce","fee88256.2e2f6"]]},{"id":"8dd14d56.e7cce","type":"mqtt out","z":"d8e5c172.e25d6","name":"","topic":"/pump/inTopic","qos":"","retain":"","broker":"cc95a5b0.042a18","x":529.0368804931641,"y":175.01432037353516,"wires":[]},{"id":"fee88256.2e2f6","type":"debug","z":"d8e5c172.e25d6","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":510.91578674316406,"y":233.70182037353516,"wires":[]},{"id":"135f0ac1.ba99b5","type":"ui_text_input","z":"d8e5c172.e25d6","name":"","label":"투입량(ml)","tooltip":"","group":"4c676577.5b4bdc","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":"1000","topic":"","x":187.90796661376953,"y":180.08854293823242,"wires":[["582f2e2f.37d99"]]},{"id":"94e83af3.2aa138","type":"ui_button","z":"d8e5c172.e25d6","name":"","group":"4c676577.5b4bdc","order":3,"width":0,"height":0,"passthru":false,"label":"펌프교정(6초회전)","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":205.91578674316406,"y":319.19010162353516,"wires":[["3c86bf77.2712b"]]},{"id":"3c86bf77.2712b","type":"function","z":"d8e5c172.e25d6","name":"encorder","func":"var chip=\"81ef783a7d80\";\nmsg.payload=\"{rot:6000}\";\nreturn msg;","outputs":1,"noerr":0,"x":391.03688049316406,"y":320.01429748535156,"wires":[["8dd14d56.e7cce"]]},{"id":"131ca177.d1c4ef","type":"ui_text_input","z":"d8e5c172.e25d6","name":"","label":"교정측정값","tooltip":"","group":"4c676577.5b4bdc","order":4,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":187.90797424316406,"y":384.09244537353516,"wires":[["ccb153c6.8a02c"]]},{"id":"ccb153c6.8a02c","type":"function","z":"d8e5c172.e25d6","name":"","func":"var num=6000/msg.payload;\nglobal.set(\"value_pump\",num);\nreturn msg;","outputs":1,"noerr":0,"x":343.9118995666504,"y":384.9674434661865,"wires":[[]]},{"id":"cc95a5b0.042a18","type":"mqtt-broker","z":"","name":"mqtt-dashboard.com","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"4c676577.5b4bdc","type":"ui_group","z":"","name":"Test","tab":"85baa43c.e60338","order":1,"disp":true,"width":"8","collapse":false},{"id":"85baa43c.e60338","type":"ui_tab","z":"","name":"Test","icon":"dashboard","order":7,"disabled":false,"hidden":false}]