3-28-1 RFID-RC522 sonoff mqtt node red/node red.txt
[{"id":"6ced9efd.3cb8e","type":"mqtt out","z":"d5034525.c34f38","name":"","topic":"/kdi/inTopic","qos":"0","retain":"","broker":"d23af4c0.005a98","x":570,"y":180,"wires":[]},{"id":"c9fc310b.33dad","type":"mqtt in","z":"d5034525.c34f38","name":"","topic":"/rfid/outTopic","qos":"0","datatype":"auto","broker":"d23af4c0.005a98","x":110,"y":80,"wires":[["26ff0cfa.da5114"]]},{"id":"26ff0cfa.da5114","type":"json","z":"d5034525.c34f38","name":"","property":"payload","action":"","pretty":false,"x":270,"y":80,"wires":[["c282aace.6afc48"]]},{"id":"c282aace.6afc48","type":"function","z":"d5034525.c34f38","name":"findOne(email 입력필수)","func":"//var email=\"doumserver@gmail.com\";\n//global.set(\"email\",email);\nglobal.set(\"msg_machine_register\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = {'rfid':msg.payload.rfid};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":80,"wires":[["ac0e1891.3b8b38"]]},{"id":"ac0e1891.3b8b38","type":"mongodb2 in","z":"d5034525.c34f38","service":"_ext_","configNode":"3bea1b88.20c9e4","name":"local","collection":"","operation":"","x":658,"y":80,"wires":[["f1525f73.9062a"]]},{"id":"e49cb914.3bdb88","type":"mongodb2 in","z":"d5034525.c34f38","service":"_ext_","configNode":"3bea1b88.20c9e4","name":"local","collection":"","operation":"","x":350,"y":140,"wires":[[]]},{"id":"f1525f73.9062a","type":"function","z":"d5034525.c34f38","name":"null=insert, is=update","func":"//var email=global.get(\"email\")||\"\";\nvar msg1=global.get(\"msg_machine_register\")||\"\";\nvar time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar newMsg = {};\n\nif(msg.payload==null) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    newMsg.payload    = {'name':'','rfid':msg1.payload.rfid,'perm':0, 'time': time};\n    return [newMsg, null];\n}\n\nelse if(msg1.payload != null){\n    if(msg.payload.perm==1)\n    return [null, msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":160,"y":160,"wires":[["e49cb914.3bdb88"],["8439f5a4.63a9c8"]]},{"id":"8439f5a4.63a9c8","type":"function","z":"d5034525.c34f38","name":"","func":"if(msg.payload.perm==1)\n    msg.payload=\"{\\\"mac\\\":\\\"3bed93224fdc\\\",\\\"on\\\":3}\";\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":360,"y":180,"wires":[["6ced9efd.3cb8e","920252d2.2cf76"]]},{"id":"920252d2.2cf76","type":"debug","z":"d5034525.c34f38","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":570,"y":240,"wires":[]},{"id":"d23af4c0.005a98","type":"mqtt-broker","name":"","broker":"192.168.0.200","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bea1b88.20c9e4","type":"mongodb2","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"}]