3-12-3/3-12-3 Node RED.txt
[{"id":"5848a889.d15508","type":"http request","z":"499b2ce.75db5d4","name":"http request 0µµ","method":"GET","ret":"txt","url":"http://192.168.0.3/json?j={\"pos\":0}","tls":"","x":308.06944274902344,"y":43.107648849487305,"wires":[[]]},{"id":"bfc7031b.600b","type":"http request","z":"499b2ce.75db5d4","name":"http request 90µµ","method":"GET","ret":"txt","url":"http://192.168.0.3/json?j={\"pos\":90}","tls":"","x":322.0173645019531,"y":90.01042747497559,"wires":[[]]},{"id":"eda8ae61.336fa","type":"http request","z":"499b2ce.75db5d4","name":"http request 180µµ","method":"GET","ret":"txt","url":"http://192.168.0.3/json?j={\"pos\":180}","tls":"","x":325.0173645019531,"y":138.01041221618652,"wires":[[]]},{"id":"3ffc01e3.1abaae","type":"inject","z":"499b2ce.75db5d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":140.0833282470703,"y":44.96876335144043,"wires":[["5848a889.d15508"]]},{"id":"5cd2f66d.63bf18","type":"inject","z":"499b2ce.75db5d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":141.0729217529297,"y":89.95838260650635,"wires":[["bfc7031b.600b"]]},{"id":"e05a749a.66e028","type":"inject","z":"499b2ce.75db5d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130.0833282470703,"y":137.96876335144043,"wires":[["eda8ae61.336fa"]]},{"id":"77bd4ab4.e46394","type":"http request","z":"499b2ce.75db5d4","name":"","method":"GET","ret":"txt","url":"","x":620.0022926330566,"y":313.2430171966553,"wires":[[]]},{"id":"cad219c5.57b908","type":"change","z":"499b2ce.75db5d4","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":453.7684783935547,"y":313.8078212738037,"wires":[["77bd4ab4.e46394"]]},{"id":"a24ea63e.a108e8","type":"function","z":"499b2ce.75db5d4","name":"","func":"var pos = global.get(\"pos\") || 0;\nmsg.payload=\"http://192.168.0.3/json?j={\\\"pos\\\":\"+pos+\"}\";\npos += 90;\nif(pos>180)\n    pos=0;\nglobal.set(\"pos\",pos);\nreturn msg;","outputs":1,"noerr":0,"x":291.0069999694824,"y":314.35646629333496,"wires":[["cad219c5.57b908","b928aa5e.6a7248"]]},{"id":"5d61966c.9cda48","type":"inject","z":"499b2ce.75db5d4","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":151.00466918945312,"y":314.00001192092896,"wires":[["a24ea63e.a108e8"]]},{"id":"4e20d17e.8a165","type":"debug","z":"499b2ce.75db5d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":282.2500228881836,"y":214.0810260772705,"wires":[]},{"id":"733e41b5.f516a","type":"http in","z":"499b2ce.75db5d4","name":"","url":"/json","method":"get","upload":false,"swaggerDoc":"","x":119.25465393066406,"y":213.9444751739502,"wires":[["4e20d17e.8a165"]]},{"id":"b928aa5e.6a7248","type":"debug","z":"499b2ce.75db5d4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":449.0798873901367,"y":266.2812557220459,"wires":[]},{"id":"1926e731.ad54e9","type":"ui_slider","z":"499b2ce.75db5d4","name":"","label":"slider","group":"9eaf4d96.0cd74","order":0,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"180","step":1,"x":121.08332443237305,"y":381.496563911438,"wires":[["2144785f.a6dbd8"]]},{"id":"2144785f.a6dbd8","type":"function","z":"499b2ce.75db5d4","name":"","func":"msg.payload=\"http://192.168.0.3/json?j={\\\"pos\\\":\"+msg.payload+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":275.0173645019531,"y":382.0104064941406,"wires":[["cad219c5.57b908"]]},{"id":"9eaf4d96.0cd74","type":"ui_group","name":"Group 1","tab":"67a3f874.2e7d28","order":1,"disp":true,"width":6},{"id":"67a3f874.2e7d28","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]