3-27-5 Smart Farm mongoDB node red/node-red.txt
[{"id":"b14256db.5c2db8","type":"mqtt in","z":"f0e36407.2e3748","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"6afdb5e4.622f2c","x":90,"y":100,"wires":[["d6fb4662.c4b7d8"]]},{"id":"d6fb4662.c4b7d8","type":"json","z":"f0e36407.2e3748","name":"","property":"payload","action":"","pretty":false,"x":250,"y":100,"wires":[["7302be2a.04383"]]},{"id":"7302be2a.04383","type":"function","z":"f0e36407.2e3748","name":"findOne(email 입력필수)","func":"var email=\"doumserver@gmail.com\";\nglobal.set(\"email\",email);\nglobal.set(\"msg_machine_register\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = {'email':email,'chip':msg.payload.chip};\nreturn newMsg;","outputs":1,"noerr":0,"x":450,"y":100,"wires":[["18b0137b.7ac38d"]]},{"id":"18b0137b.7ac38d","type":"mongodb2 in","z":"f0e36407.2e3748","service":"_ext_","configNode":"485a611.11f74a","name":"local","collection":"","operation":"","x":638,"y":100,"wires":[["b155234d.8b816"]]},{"id":"de8a9d6a.91812","type":"mongodb2 in","z":"f0e36407.2e3748","service":"_ext_","configNode":"485a611.11f74a","name":"local","collection":"","operation":"","x":983,"y":100,"wires":[[]]},{"id":"b155234d.8b816","type":"function","z":"f0e36407.2e3748","name":"null=insert, is=update","func":"var email=global.get(\"email\")||\"\";\nvar msg1=global.get(\"msg_machine_register\")||\"\";\nvar time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar newMsg = {};\n\nif(msg.payload==null && msg1.payload.type == 1) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    newMsg.payload    = {'email':email,'chip':msg1.payload.chip,'type':msg1.payload.type,'ec':msg1.payload.ec, 'ph':msg1.payload.ph, 'te':msg1.payload.te, 'ip':msg1.payload.ip, 'time': time};\n    return newMsg;\n}\nif(msg.payload==null && msg1.payload.type == 2) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    newMsg.payload    = {'email':email,'chip':msg1.payload.chip,'type':msg1.payload.type,'co2':msg1.payload.co2, 'ip':msg1.payload.ip, 'time': time};\n    return newMsg;\n}\nif(msg.payload==null && msg1.payload.type == 3) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    newMsg.payload    = {'email':email,'chip':msg1.payload.chip,'type':msg1.payload.type,'hu':msg1.payload.hu,'te':msg1.payload.te, 'ip':msg1.payload.ip, 'time': time};\n    return newMsg;\n}\nelse if(msg1.payload.ec != null){\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'findOneAndUpdate';\n    newMsg.payload    = [{'email': email,'chip' : msg1.payload.chip}, {$set:{'ec':msg1.payload.ec,'ph':msg1.payload.ph,'te':msg1.payload.te, 'ip':msg1.payload.ip, 'time': time}} ];\n    return newMsg;\n}\nelse if(msg1.payload.co2 != null){\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'findOneAndUpdate';\n    newMsg.payload    = [{'email': email,'chip' : msg1.payload.chip}, {$set:{'co2':msg1.payload.co2, 'ip':msg1.payload.ip, 'time': time}} ];\n    return newMsg;\n}\nelse if(msg1.payload.hu != null){\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'findOneAndUpdate';\n    newMsg.payload    = [{'email': email,'chip' : msg1.payload.chip}, {$set:{'hu':msg1.payload.hu,'te':msg1.payload.te, 'ip':msg1.payload.ip, 'time': time}} ];\n    return newMsg;\n}\n","outputs":1,"noerr":0,"x":813,"y":100,"wires":[["de8a9d6a.91812"]]},{"id":"c5402b04.540d08","type":"ui_gauge","z":"f0e36407.2e3748","name":"","group":"d2814b1e.3abda8","order":2,"width":0,"height":0,"gtype":"gage","title":"PH","label":"units","format":"{{value}}","min":0,"max":10,"colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":650,"y":280,"wires":[]},{"id":"4cbf2672.0768d8","type":"function","z":"f0e36407.2e3748","name":"모니터링","func":"var msg1={};\nvar msg2={};\nvar msg3={};\nvar msg4={};\nvar msg5={};\n\nfor(i=0;i<msg.payload.length;i++) {\n    if(msg.payload[i].type==1) {\n        msg1.payload=msg.payload[i].ec;\n        msg2.payload=msg.payload[i].ph;\n        msg3.payload=msg.payload[i].te;\n    }\n    if(msg.payload[i].type==2) {\n        msg4.payload=msg.payload[i].co2;\n    }\n    if(msg.payload[i].type==3) {\n        msg5.payload=msg.payload[i].hu;\n    }\n}\nreturn [msg1,msg2,msg3,msg4,msg5];\n\n","outputs":5,"noerr":0,"x":506,"y":280,"wires":[["6c0a30c8.e41dc"],["c5402b04.540d08"],["5f531e89.dac64"],["6de57371.cdbd7c"],["86054c91.3f206"]]},{"id":"5f531e89.dac64","type":"ui_chart","z":"f0e36407.2e3748","name":"","group":"d2814b1e.3abda8","order":3,"width":0,"height":0,"label":"온도","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":1,"removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"x":650,"y":320,"wires":[[]]},{"id":"6c0a30c8.e41dc","type":"ui_text","z":"f0e36407.2e3748","group":"d2814b1e.3abda8","order":1,"width":0,"height":0,"name":"","label":"EC","format":"{{msg.payload}}","layout":"row-spread","x":652,"y":240,"wires":[]},{"id":"bc46931e.83034","type":"ui_template","z":"f0e36407.2e3748","group":"b26b0bb8.73f3d8","name":"","order":0,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":620,"y":180,"wires":[[]]},{"id":"de3d22e4.04e21","type":"comment","z":"f0e36407.2e3748","name":"type 정의","info":"pe300=1\nco2 센서=2\n온도습도 센서 : 3","x":400,"y":60,"wires":[]},{"id":"76fa028a.926e5c","type":"function","z":"f0e36407.2e3748","name":"find.toArray","func":"//global.set(\"msg_main\",msg);\nvar email=global.get(\"email\")||\"\";\nmsg.collection = 'localRecord';\nmsg.operation  = 'find.toArray';\nmsg.payload    = { 'email' : email };\nmsg.projection = { 'name' : 1 , '_id' : 0 };\nreturn msg;","outputs":1,"noerr":0,"x":150,"y":180,"wires":[["a382ca16.e7f938"]]},{"id":"a382ca16.e7f938","type":"mongodb2 in","z":"f0e36407.2e3748","service":"_ext_","configNode":"8a303a7a.3368d8","name":"find machines","collection":"","operation":"","x":320,"y":180,"wires":[["e2ed2c12.37df1","4cbf2672.0768d8"]]},{"id":"6de57371.cdbd7c","type":"ui_text","z":"f0e36407.2e3748","group":"d2814b1e.3abda8","order":3,"width":0,"height":0,"name":"","label":"CO2","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":360,"wires":[]},{"id":"86054c91.3f206","type":"ui_text","z":"f0e36407.2e3748","group":"d2814b1e.3abda8","order":4,"width":0,"height":0,"name":"","label":"습도","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":400,"wires":[]},{"id":"e2ed2c12.37df1","type":"function","z":"f0e36407.2e3748","name":"","func":"var s=\"\";\nfor(i=0;i<msg.payload.length;i++) {\n    if(msg.payload[i].type==1) {\n        s+='EC: '+msg.payload[i].ec+\"<br>\";\n        s+='PH: '+msg.payload[i].ph+\"<br>\";\n        s+='온도: '+msg.payload[i].te+\"<br>\";\n        s+=\"<a href='http://\"+msg.payload[i].ip+\"'>센서 사이트 링크</a><br><br>\";\n    }\n    if(msg.payload[i].type==2) {\n        s+='CO2: '+msg.payload[i].co2+\"<br>\";\n        s+=\"<a href='http://\"+msg.payload[i].ip+\"'>센서 사이트 링크</a><br><br>\";\n    }\n    if(msg.payload[i].type==3) {\n        s+='습도: '+msg.payload[i].hu+\"<br>\";\n        s+='온도: '+msg.payload[i].te+\"<br>\";\n        s+=\"<a href='http://\"+msg.payload[i].ip+\"'>센서 사이트 링크</a><br><br>\";\n    }\n}\nmsg.payload=s;\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":180,"wires":[["bc46931e.83034"]]},{"id":"75867023.66bf6","type":"link in","z":"f0e36407.2e3748","name":"","links":["577139bd.c56f08"],"x":35,"y":180,"wires":[["76fa028a.926e5c"]]},{"id":"6afdb5e4.622f2c","type":"mqtt-broker","name":"","broker":"192.168.0.200","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"485a611.11f74a","type":"mongodb2","z":"f0e36407.2e3748","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"},{"id":"d2814b1e.3abda8","type":"ui_group","name":"스마트팜","tab":"d191487e.a33818","order":1,"disp":true,"width":"6","collapse":false},{"id":"b26b0bb8.73f3d8","type":"ui_group","name":"테이블","tab":"d191487e.a33818","order":2,"disp":true,"width":"6","collapse":false},{"id":"8a303a7a.3368d8","type":"mongodb2","z":"f0e36407.2e3748","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"},{"id":"d191487e.a33818","type":"ui_tab","name":"두원 메카트로닉스","icon":"dashboard","order":5,"disabled":false,"hidden":false}]