3-22-2 PMS5003 Dust Sensor SetValue/3-22-2 node-red.txt
[{"id":"519c5a09.70cf14","type":"mqtt in","z":"87500eec.4c079","name":"","topic":"/kdi/outTopic","qos":"2","datatype":"auto","broker":"cfa1e65c.5d8b38","x":148.01730346679688,"y":68.00000286102295,"wires":[["549186ac.8e69b8"]]},{"id":"5f3eee3b.7f1d3","type":"debug","z":"87500eec.4c079","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":459.0172576904297,"y":115.00000762939453,"wires":[]},{"id":"e1ad58ec.b66a98","type":"ui_gauge","z":"87500eec.4c079","name":"","group":"b7dbad8b.7f8cf","order":11,"width":0,"height":0,"gtype":"gage","title":"먼지센서 (Dust Sensor)","label":"units","format":"{{msg.payload.dust}}","min":0,"max":"70","colors":["#00b500","#e6e600","#ca3838"],"seg1":"10","seg2":"30","x":497.07640838623047,"y":68.40975093841553,"wires":[]},{"id":"549186ac.8e69b8","type":"json","z":"87500eec.4c079","name":"","property":"payload","action":"","pretty":false,"x":300.0832633972168,"y":67.68750667572021,"wires":[["e1ad58ec.b66a98","5f3eee3b.7f1d3"]]},{"id":"41a66361.f0999c","type":"ui_slider","z":"87500eec.4c079","name":"","label":"제어점","tooltip":"","group":"b7dbad8b.7f8cf","order":1,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"50","step":1,"x":134.2500114440918,"y":220.01387214660645,"wires":[["1f9d1411.720d7c"]]},{"id":"1f9d1411.720d7c","type":"ui_text_input","z":"87500eec.4c079","name":"","label":"","tooltip":"","group":"b7dbad8b.7f8cf","order":2,"width":"2","height":"1","passthru":true,"mode":"text","delay":300,"topic":"","x":272.2546691894531,"y":219.95831871032715,"wires":[["f09bdc59.27b91"]]},{"id":"ac79f11c.60801","type":"ui_text_input","z":"87500eec.4c079","name":"","label":"chip no","tooltip":"","group":"b7dbad8b.7f8cf","order":3,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":139.25,"y":150.96528816223145,"wires":[["e5d5bfdf.ff47d"]]},{"id":"e5d5bfdf.ff47d","type":"function","z":"87500eec.4c079","name":"","func":"global.set(\"chipid\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":281.25,"y":150.9606475830078,"wires":[[]]},{"id":"f09bdc59.27b91","type":"function","z":"87500eec.4c079","name":"","func":"var chip=global.get(\"chipid\");\nvar retMsg={};\nretMsg.payload=\"{\\\"chip\\\":\\\"\"+chip+\"\\\",\\\"set\\\":\"+msg.payload+\"}\";\nreturn retMsg;","outputs":1,"noerr":0,"x":412.2546691894531,"y":219.96066284179688,"wires":[["ceb444ce.1e3a68","78afedc7.624674"]]},{"id":"ceb444ce.1e3a68","type":"debug","z":"87500eec.4c079","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":559.0114517211914,"y":170.02776908874512,"wires":[]},{"id":"78afedc7.624674","type":"mqtt out","z":"87500eec.4c079","name":"","topic":"/kdi/inTopic","qos":"","retain":"","broker":"cfa1e65c.5d8b38","x":565.2522315979004,"y":218.69211196899414,"wires":[]},{"id":"cfa1e65c.5d8b38","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"asdfasfsafasfsffdsd","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"b7dbad8b.7f8cf","type":"ui_group","name":"Group 1","tab":"d88d9142.173f7","order":1,"disp":true,"width":6},{"id":"d88d9142.173f7","type":"ui_tab","name":"Tab 1","icon":"dashboard","order":1}]