3-24-4 AWS+LoRa Server/node red program.txt
[{"id":"8b4f41d8.8ed59","type":"mqtt in","z":"6e89002.a6701","name":"","topic":"outTopic","qos":"0","datatype":"auto","broker":"c271e96.0fae918","x":160,"y":340,"wires":[["1cc65749.3c3d39"]]},{"id":"e90cabd.dfb1258","type":"function","z":"6e89002.a6701","name":"findOneAndUpdate","func":"var newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'chip' : msg.payload.chip}, {$set:{ 'weight':msg.payload.weight}} ];\nreturn newMsg;\n","outputs":1,"noerr":0,"x":471,"y":340,"wires":[["b67a4067.94999"]]},{"id":"b67a4067.94999","type":"mongodb2 in","z":"6e89002.a6701","service":"_ext_","configNode":"52b02c9f.324774","name":"admin","collection":"","operation":"","x":633,"y":340,"wires":[[]]},{"id":"1cc65749.3c3d39","type":"json","z":"6e89002.a6701","name":"","property":"payload","action":"","pretty":false,"x":311,"y":340,"wires":[["e90cabd.dfb1258","37145d3c.192a32"]]},{"id":"37145d3c.192a32","type":"function","z":"6e89002.a6701","name":"insert one","func":"//var date = new Date();\n//msg.payload = date;\nvar newMsg = {};\nnewMsg.collection = 'localData';\nnewMsg.operation  = 'insert';\nnewMsg.payload    = {'chip' : msg.payload.chip,'weight':msg.payload.weight,'date':new Date()};\nreturn newMsg;","outputs":1,"noerr":0,"x":441,"y":400,"wires":[["88d76f46.820a3"]]},{"id":"88d76f46.820a3","type":"mongodb2 in","z":"6e89002.a6701","service":"_ext_","configNode":"f22f493c.27d188","name":"admin","collection":"","operation":"","x":591,"y":400,"wires":[[]]},{"id":"c271e96.0fae918","type":"mqtt-broker","z":"","name":"","broker":"","port":"8883","tls":"ae638ce8.a6beb","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"52b02c9f.324774","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":""},{"id":"f22f493c.27d188","type":"mongodb2","z":"","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"},{"id":"ae638ce8.a6beb","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"555b63cad1-certificate.pem.crt","keyname":"555b63cad1-private.pem.key","caname":"555b63cad1-CA.pem","servername":"","verifyservercert":true}]