3-29-1 FSR Sensor sonoff mqtt node red/node red.txt
[{"id":"30ae40cf.f0eb7","type":"mqtt out","z":"d5034525.c34f38","name":"","topic":"/kdi/inTopic","qos":"0","retain":"false","broker":"d23af4c0.005a98","x":630,"y":300,"wires":[]},{"id":"164353d4.4ed6ac","type":"mqtt in","z":"d5034525.c34f38","name":"","topic":"/kdi/outTopic","qos":"0","datatype":"auto","broker":"d23af4c0.005a98","x":110,"y":100,"wires":[["2b16701c.cbca7"]]},{"id":"2b16701c.cbca7","type":"json","z":"d5034525.c34f38","name":"","property":"payload","action":"","pretty":false,"x":270,"y":100,"wires":[["2b56142c.dafc6c"]]},{"id":"2b56142c.dafc6c","type":"function","z":"d5034525.c34f38","name":"findOne(데이터존재 확인)","func":"global.set(\"msg_machine_register\",msg);\nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOne';\nnewMsg.payload    = {'mac':msg.payload.mac};\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":470,"y":100,"wires":[["c5cacf95.f42f2"]]},{"id":"76dab8ed.bedf28","type":"function","z":"d5034525.c34f38","name":"null=insert, is=update","func":"var msg1=global.get(\"msg_machine_register\")||\"\";\nvar time = new Date().toLocaleString('ko-KR', { timeZone: 'Asia/Seoul' });\nvar newMsg = {};\n\nif(msg.payload==null) {\n    newMsg.collection = 'localRecord';\n    newMsg.operation  = 'insert';\n    newMsg.payload    = {'name':'','mac':msg1.payload.mac,'fsr':msg1.payload.fsr, 'time': time};\n    return [newMsg, null];\n}\n\nelse if(msg1.payload != null){\n    return [null, msg1];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","x":180,"y":220,"wires":[["b2693c49.3c6ae"],["5cc2e603.400548","3af307fa.ab98c8"]]},{"id":"5cc2e603.400548","type":"function","z":"d5034525.c34f38","name":"update","func":"  \nvar newMsg = {};\nnewMsg.collection = 'localRecord';\nnewMsg.operation  = 'findOneAndUpdate';\nnewMsg.payload    = [{ 'mac' : msg.payload.mac}, {$set:{ 'fsr':msg.payload.fsr}} ];\nnewMsg.projection = { 'mac' : 1 , '_id' : 0 };\n\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":370,"y":240,"wires":[["d3f47148.db7e6"]]},{"id":"c5cacf95.f42f2","type":"mongodb2 in","z":"d5034525.c34f38","service":"_ext_","configNode":"3bea1b88.20c9e4","name":"local","collection":"","operation":"","x":658,"y":100,"wires":[["76dab8ed.bedf28"]]},{"id":"b2693c49.3c6ae","type":"mongodb2 in","z":"d5034525.c34f38","service":"_ext_","configNode":"3bea1b88.20c9e4","name":"insert","collection":"","operation":"","x":370,"y":200,"wires":[[]]},{"id":"d3f47148.db7e6","type":"mongodb2 in","z":"d5034525.c34f38","service":"_ext_","configNode":"3bea1b88.20c9e4","name":"update","collection":"","operation":"","x":490,"y":240,"wires":[[]]},{"id":"3af307fa.ab98c8","type":"function","z":"d5034525.c34f38","name":"sonoff로 데이터 보냄","func":"var newMsg={};\nif(msg.payload.fsr>100)\n    newMsg.payload=\"{\\\"mac\\\":\\\"3bed93224fdc\\\",\\\"on\\\":1}\";\nelse\n    newMsg.payload=\"{\\\"mac\\\":\\\"3bed93224fdc\\\",\\\"on\\\":0}\";\nreturn newMsg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":420,"y":300,"wires":[["30ae40cf.f0eb7"]]},{"id":"d23af4c0.005a98","type":"mqtt-broker","name":"","broker":"192.168.0.200","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"3bea1b88.20c9e4","type":"mongodb2","uri":"mongodb://localhost:27017/admin","name":"admin","options":"","parallelism":"-1"}]