3-0-31-2  IBM Cloud LG Aircon/nede-red program.txt
[{"id":"9a4e2b35.1e9d78","type":"mqtt out","z":"47d1a40f.cd7cfc","name":"","topic":"/i2r_lg/outTopic","qos":"","retain":"","broker":"69d17075.8754d","x":687.94091796875,"y":94.98264694213867,"wires":[]},{"id":"47382b6a.06db54","type":"mqtt in","z":"47d1a40f.cd7cfc","name":"","topic":"/i2r_lg/inTopic","qos":"2","broker":"69d17075.8754d","x":108.93057632446289,"y":647.3159341812134,"wires":[["f6d77ef7.2f4ba","b9dbd7c1.83e1a8"]]},{"id":"746e8395.844c7c","type":"function","z":"47d1a40f.cd7cfc","name":"쓰기","func":"var id=global.get(\"id\")||\"\";\nvar power=global.get(\"power\")||0;\nvar flow=global.get(\"flow\")||0;\nvar temper=global.get(\"temper\")||28;\nvar swing=global.get(\"swing\")||0;\nvar clean=global.get(\"clean\")||0;\nvar heat=global.get(\"heat\")||0;\nmsg.payload=\"{\\\"chipid\\\":\\\"\"+id+\"\\\"\\, \\\"act\\\":\\\"write\\\"\\,\\\"power\\\":\"+power+\"\\,\\\"flow\\\":\"+flow+\"\\,\\\"temper\\\":\"+temper+\"\\,\\\"swing\\\":\"+swing+\"\\,\\\"clean\\\":\"+clean+\"\\,\\\"heat\\\":\"+heat+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":512.8749694824219,"y":95.49993801116943,"wires":[["9a4e2b35.1e9d78"]]},{"id":"f6d77ef7.2f4ba","type":"json","z":"47d1a40f.cd7cfc","name":"","property":"payload","action":"","pretty":false,"x":299.9270935058594,"y":647.3541059494019,"wires":[["146487a8.612718"]]},{"id":"31095f68.30bd6","type":"inject","z":"47d1a40f.cd7cfc","name":"act:read","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":117.8749771118164,"y":712.5000009536743,"wires":[["12120ce2.0f4363"]]},{"id":"146487a8.612718","type":"function","z":"47d1a40f.cd7cfc","name":"","func":"msg.payload=msg.payload.power;\nreturn msg;","outputs":1,"noerr":0,"x":433.0138816833496,"y":648.2533988952637,"wires":[[]]},{"id":"9a4292a7.7474","type":"function","z":"47d1a40f.cd7cfc","name":"","func":"global.set(\"flow\",msg.payload);\nif(msg.payload==0)\n    msg.payload=\"약\";\nelse if(msg.payload==1)\n    msg.payload=\"중\";\nelse if(msg.payload==2)\n    msg.payload=\"강\";\nreturn msg;","outputs":1,"noerr":0,"x":260.9410171508789,"y":316.9826145172119,"wires":[["dfddd016.dc3ed","769631ae.3cea6"]]},{"id":"8c1fe324.193c8","type":"function","z":"47d1a40f.cd7cfc","name":"","func":"global.set(\"power\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":248.94104766845703,"y":157.9825954437256,"wires":[["576a7ddd.67d234"]]},{"id":"9bb8a5ff.562d48","type":"function","z":"47d1a40f.cd7cfc","name":"","func":"global.set(\"temper\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":253.94099807739258,"y":203.98261070251465,"wires":[["e80eb7ee.639888"]]},{"id":"bbff4f58.f4059","type":"function","z":"47d1a40f.cd7cfc","name":"","func":"global.set(\"swing\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":266.9410285949707,"y":372.98260498046875,"wires":[["bfd1d842.d250c8"]]},{"id":"ad72091a.be7558","type":"function","z":"47d1a40f.cd7cfc","name":"","func":"global.set(\"clean\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":267.94102478027344,"y":431.98267936706543,"wires":[["12b37fb8.d7322"]]},{"id":"1447b606.81ae9a","type":"function","z":"47d1a40f.cd7cfc","name":"","func":"global.set(\"heat\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":274.9410209655762,"y":493.98267555236816,"wires":[["21946d1a.cba442"]]},{"id":"576a7ddd.67d234","type":"link out","z":"47d1a40f.cd7cfc","name":"","links":["48411617.91b778"],"x":350.99656867980957,"y":157.5104160308838,"wires":[]},{"id":"48411617.91b778","type":"link in","z":"47d1a40f.cd7cfc","name":"","links":["576a7ddd.67d234","e80eb7ee.639888","769631ae.3cea6","bfd1d842.d250c8","12b37fb8.d7322","21946d1a.cba442","f5498761.051988","f674c9b0.652d38"],"x":424.0035128593445,"y":95.8298568725586,"wires":[["746e8395.844c7c"]]},{"id":"e80eb7ee.639888","type":"link out","z":"47d1a40f.cd7cfc","name":"","links":["48411617.91b778"],"x":352.0069179534912,"y":202.51040172576904,"wires":[]},{"id":"769631ae.3cea6","type":"link out","z":"47d1a40f.cd7cfc","name":"","links":["48411617.91b778"],"x":357.0069189071655,"y":276.50346088409424,"wires":[]},{"id":"bfd1d842.d250c8","type":"link out","z":"47d1a40f.cd7cfc","name":"","links":["48411617.91b778"],"x":360.0000877380371,"y":371.5104579925537,"wires":[]},{"id":"12b37fb8.d7322","type":"link out","z":"47d1a40f.cd7cfc","name":"","links":["48411617.91b778"],"x":367.0000762939453,"y":432.5070390701294,"wires":[]},{"id":"21946d1a.cba442","type":"link out","z":"47d1a40f.cd7cfc","name":"","links":["48411617.91b778"],"x":367.9965419769287,"y":494.50704860687256,"wires":[]},{"id":"db5940f1.c6d99","type":"function","z":"47d1a40f.cd7cfc","name":"","func":"global.set(\"id\",msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":245.9409637451172,"y":105.98262977600098,"wires":[["f674c9b0.652d38"]]},{"id":"12120ce2.0f4363","type":"function","z":"47d1a40f.cd7cfc","name":"읽기","func":"var id=global.get(\"id\")||\"\";\nmsg.payload=\"{\\\"chipid\\\":\\\"\"+id+\"\\\"\\, \\\"act\\\":\\\"read\\\"\"+\"}\";\nreturn msg;","outputs":1,"noerr":0,"x":248.94099044799805,"y":711.9826545715332,"wires":[[]]},{"id":"4326e0cd.532e9","type":"ui_slider","z":"47d1a40f.cd7cfc","name":"","label":"설정온도","tooltip":"","group":"19f0388a.02d307","order":4,"width":"4","height":"1","passthru":true,"outs":"all","topic":"","min":"18","max":"30","step":1,"x":109.00348281860352,"y":249.21876335144043,"wires":[["c29bc92b.f07018","9bb8a5ff.562d48"]]},{"id":"16187d30.340fc3","type":"ui_slider","z":"47d1a40f.cd7cfc","name":"","label":"바람세기","tooltip":"","group":"19f0388a.02d307","order":6,"width":"5","height":"1","passthru":true,"outs":"all","topic":"","min":0,"max":"2","step":1,"x":105.99655532836914,"y":317.2083158493042,"wires":[["9a4292a7.7474"]]},{"id":"f92aaa48.c05ec8","type":"ui_switch","z":"47d1a40f.cd7cfc","name":"","label":"power","tooltip":"","group":"19f0388a.02d307","order":3,"width":"0","height":"0","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":98.87507629394531,"y":157.49989223480225,"wires":[["8c1fe324.193c8"]]},{"id":"df017135.5d216","type":"ui_switch","z":"47d1a40f.cd7cfc","name":"","label":"스윙(바람)","tooltip":"","group":"19f0388a.02d307","order":8,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":117.99656677246094,"y":375.2465286254883,"wires":[["bbff4f58.f4059"]]},{"id":"4572e401.1cd71c","type":"ui_switch","z":"47d1a40f.cd7cfc","name":"","label":"에어크린","tooltip":"","group":"19f0388a.02d307","order":9,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":111.94099426269531,"y":432.9826717376709,"wires":[["ad72091a.be7558"]]},{"id":"5db67790.2da8a8","type":"ui_switch","z":"47d1a40f.cd7cfc","name":"","label":"냉방<-->난방","tooltip":"","group":"19f0388a.02d307","order":10,"width":"5","height":"1","passthru":true,"decouple":"false","topic":"","style":"","onvalue":"1","onvalueType":"num","onicon":"","oncolor":"","offvalue":"0","offvalueType":"num","officon":"","offcolor":"","x":122.94099426269531,"y":494.9826717376709,"wires":[["1447b606.81ae9a"]]},{"id":"821c6562.f4c038","type":"ui_text_input","z":"47d1a40f.cd7cfc","name":"","label":"ID","tooltip":"","group":"19f0388a.02d307","order":2,"width":0,"height":0,"passthru":true,"mode":"text","delay":300,"topic":"","x":100.9999771118164,"y":107.13544654846191,"wires":[["db5940f1.c6d99"]]},{"id":"c29bc92b.f07018","type":"ui_text","z":"47d1a40f.cd7cfc","group":"19f0388a.02d307","order":5,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}} 도","layout":"row-spread","x":257.0000534057617,"y":248.0000171661377,"wires":[]},{"id":"dfddd016.dc3ed","type":"ui_text","z":"47d1a40f.cd7cfc","group":"19f0388a.02d307","order":7,"width":"2","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":394.9931945800781,"y":316.00346279144287,"wires":[]},{"id":"b9dbd7c1.83e1a8","type":"ui_text","z":"47d1a40f.cd7cfc","group":"19f0388a.02d307","order":9,"width":0,"height":0,"name":"","label":"에어컨 모니터링","format":"{{msg.payload}}","layout":"row-spread","x":339.0069580078125,"y":601,"wires":[]},{"id":"f674c9b0.652d38","type":"link out","z":"47d1a40f.cd7cfc","name":"","links":["48411617.91b778"],"x":346.99999237060547,"y":102.99999237060547,"wires":[]},{"id":"5c50fa7f.7a2ac4","type":"comment","z":"47d1a40f.cd7cfc","name":"Write","info":"","x":96,"y":49,"wires":[]},{"id":"842970bb.9e391","type":"comment","z":"47d1a40f.cd7cfc","name":"Read","info":"","x":84,"y":565,"wires":[]},{"id":"69d17075.8754d","type":"mqtt-broker","z":"","name":"","broker":"broker.mqtt-dashboard.com","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"19f0388a.02d307","type":"ui_group","z":"","name":"LG 에어컨","tab":"b692ba32.cd4918","order":1,"disp":true,"width":"7","collapse":false},{"id":"b692ba32.cd4918","type":"ui_tab","z":"","name":"Tab 1","icon":"dashboard","order":1,"disabled":false,"hidden":false}]